<form>
  <h1>IRIS Lease Accounting - Standard version</h1>
  <h2>Customer Sign-up</h2>
  <mat-form-field appearance="fill">
    <mat-label>Your Company Name</mat-label>
    <input class="title-form-field" matInput [(ngModel)]="customerName" name="customer">
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Your Name</mat-label>
    <input class="title-form-field" matInput [(ngModel)]="fullname" name="fullname">
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Your Email address</mat-label>
    <input class="title-form-field" matInput [(ngModel)]="email" name="email">
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="selectedCountry" name="country">
      <mat-option *ngFor="let country of countries" [value]="country.value">
        {{country.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Company Type</mat-label>
    <mat-select [(ngModel)]="selectedType" name="type">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>No. of Leases purchased</mat-label>
    <input class="title-form-field" matInput type="number" [(ngModel)]="leasesPurchased" name="leases">
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input class="title-form-field" matInput type="password" [(ngModel)]="code" name="code">
  </mat-form-field>
  <br/>
  <br/>
  <button class="member-button" mat-raised-button color="primary" (click)="save()">Sign Up</button> <span *ngIf="message != ''" style="margin-left: 20px; padding: 10px; background-color: pink;"><b>{{message}}</b></span>

  
</form>
